p{
  font-family: $Roboto;
  font-weight: $light;
  font-size: $medium;
}

h5{
  font-family: $playfair;
  font-weight: $regular;
  font-size: $medium;
}

h4{
  font-family: $playfair;
    font-weight: $light;
    font-size: $large;
    color: $Spanish-pink;
}
