header{
  background-image:url('../img/post-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 10rem;
  height: 703px;
}

.titulo_header{
  font-family: $playfair;
  font-weight: $black-italic;
  font-size:$xx-large;
  top: 90px;
  padding: 6rem 3rem;
}
